@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(37, 195, 209);
}

h1 {
    font-family: 'Varela Round', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}